<!DOCTYPE HTML>
<html>
<head>
    <title><%= config.websiteName%> </title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="/moment-timezone/moment.js" crossorigin="anonymous"></script>
    <script src="/moment-timezone/moment-timezone.js" crossorigin="anonymous"></script>
    <script src="/moment-timezone/moment-timezone-with-data.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="dark">


<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><%=config.websiteName%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!--                <li class="nav-item">-->
            <!--                    <a class="nav-link" href="">Forums</a>-->
            <!--                </li>-->
            <% const admin = 5, recruiter = 4, officer = 3, nco = 2, enlisted = 1, guest = 0; %>
            <%if(currentUser) {%>
                <% if(currentUser.role.num >= enlisted) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/listusers">Show Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/opcenter/">Operations Center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar/">Calendar</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/opcenter/">Operations Center</a>
                    </li>
                <% } %>
                <% if(currentUser.role.num > 4) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings/">Settings</a>
                    </li>
                <% } %>
            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto">
            <%if(!currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            <% } else { %>
            <span class="navbar-text"><a href="/user/<%=currentUser._id%>"><i class="fas fa-user-circle"></i><span style="padding-left: .25rem"><%=currentUser.username%></span></a></span>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% }  %>
        </ul>

    </div>
</nav>
