<% include ../partials/header %>

<div class="container shadow mt-3 pt-3">
    <meta charset='utf-8' />
    <link href='/packages/core/main.css' rel='stylesheet' />
    <link href='/packages/daygrid/main.css' rel='stylesheet' />
    <script src='/packages/core/main.js'></script>
    <script src='/packages/interaction/main.js'></script>
    <script src='/packages/daygrid/main.js'></script>
    <script src='/packages/bootstrap/main.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const calendarEl = document.getElementById('calendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid', 'bootstrap' ],
                themeSystem: 'bootstrap',
                defaultDate: Date.now(),
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    <% allEvents.forEach(function(event){ %>
                    {
                        url: "/calendar/event/<%=event._id%>",
                        title: "<%=event.title%>",
                        start: "<%=event.start%>",
                        color: "<%=event.eventType.color%>"
                    },
                    <%} ); %>
                ]
            });

            calendar.render();
        });

    </script>

<div id='calendar'></div>
</div>

<% include ../partials/footer %>