<% include partials/header %>

<div class="container shadow bg-white" style="margin-top: 1%; padding: 1%;">
    <form action="/opcenter/application/" method="POST">

        <h1>Create an Application</h1>
        <hr>

        <%if(submitted) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong> Your application was successfully submitted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>


        <label for="age">How old are you?</label>
        <div class="form-group">
            <input class="form-control" id="age" type="number" name="age" required>
            <small class="form-text text-muted">In years, how old are you?</small>
        </div>

        <label for="length">How many hours do you have in Arma 3?</label>
        <div class="form-group"><input class="form-control" id="length" type="text" name="length" required>
            <small class="form-text text-muted">How many hours do you have in Arma 3?</small>
        </div>

        <label for="reason">Why do you want to join the unit?</label>
        <div class="form-group"><input class="form-control" id="reason" type="text" name="reason" required>
            <small class="form-text text-muted">What is your reason for wanting to join the unit? Keep it short and simple, don't give your life story.</small>
        </div>

        <label for="findus">How did you find about us?</label>
        <div class="form-group">
            <input class="form-control" id="findus" type="text" name="findus" required>
            <small class="form-text text-muted">Tell us how you find our unit.</small>
        </div>

        <label for="profile">Enter your Steam Profile link.</label>
        <div class="form-group">
            <input class="form-control" id="profile" type="text" name="profile" required>
            <small class="form-text text-muted">Copy your profile link from your Steam page so we can contact you if you get accepted.</small>
        </div>

        <label for="arma3">Do you own a copy of Arma 3?</label>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="arma3" id="yes" value="yes" required>
                <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="arma3" id="no" value="no" required>
                <label class="form-check-label" for="no">No</label>
            </div>
            <small class="form-text text-muted">Do you own a legal and valid copy of Arma 3?</small>
        </div>

        <label for="mic">Do you have a functioning microphone?</label>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mic" id="yes" value="Yes" required>
                <label class="form-check-label" for="yes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mic" id="no" value="No" required>
                <label class="form-check-label" for="no">No</label>
            </div>
            <small class="form-text text-muted">Do you own a functioning microphone?</small>
        </div>

        <div class="form-group">
            <label for="mos">What position do you want in the unit?</label>
            <select class="form-control" id="mos" name="mos" required>
                <option>Infantry</option>
<!--                <option disabled>Medic</option>-->
<!--                <option disabled>Aviator</option>-->
            </select>
        </div>

        <div class="form-group"><button class="btn btn-primary" >Submit</button></div>
    </form>
</div>

<% include partials/footer %>