<% include partials/header %>
<div class="container shadow white-transparent mt-3 mb-5 p-3">
    <h1>Frequently Asked Questions</h1>
    <hr>

	<%-config.faq%>

</div>

<div class="fixed-bottom">
<% include partials/footer %>