<% include partials/header %>

<div class="container shadow bg-white marginPad">
    <form action="/calendar/event" method="POST">
        <h1>Create event</h1>
        <hr>

        <div class="form-group">
            <label for="name">Event Name</label>
            <input id="name" class="form-control" type="text" name="eventname" required>
        </div>

        <div class="form-group">
            <label for="desc">Event Description</label>
            <input id="desc" class="form-control" type="text" name="desc" required>
            <small class="form-text text-muted">The max length of an event description is 160 characters.</small>
        </div>

        <div class="form-group">
            <label for="desc">Image Name</label>
            <input id="desc" class="form-control" type="text" name="imagename" required>
        </div>

        <div class="form-group">
            <label for="type">Event Type</label>
            <select class="form-control" id="type" name="eventtype" required>
                <option>Operation</option>
                <option>Basic Training</option>
            </select>
        </div>

        <div class="form-group">
            <label for="start">Start Date</label>
            <input class="form-control" id="start" type="date" name="eventstart" required>
        </div>

        <div class="form-group">
            <label for="start">Start Time</label>
            <input class="form-control" id="start" type="time" name="eventtime" required>
            <small class="form-text text-muted">Start time for the event in EST only.</small>
        </div>

        <div class="form-group"><button class="btn btn-primary" >Submit</button></div>

    </form>
</div>

<script>
    document.getElementById("desc").maxLength = "160";
</script>

<% include partials/footer %>