<% include partials/header %>

<div class="container white" style="margin-top: 1%; padding: 1%;">  
    <h3 style="text-align: center; margin-bottom: 1%;">Operations Center</h3>
    <div class="row">
        <div class="col-sm" style="text-align: center;"><a href="/opcenter/discharge" style="color: white;"><button class="btn btn-primary btn-sm">Request a discharge</button></a> </div>
    </div>
</div>

<% if(priv) { %>
<div class="container white" style="margin-top: 1%; padding: 1%;">  
        <h3 style="text-align: center; margin-bottom: 1%;">Administration Center</h3>
        <div class="row">
            <div class="col-sm" style="text-align: center;"><a href="/opcenter/newrequests" style="color: white;"><button class="btn btn-primary btn-sm">View new requests</button></a> </div>
            <div class="col-sm" style="text-align: center;"><a href="/opcenter/allrequests" style="color: white;"><button class="btn btn-primary btn-sm">View all requests</button></a> </div>
            <div class="col-sm" style="text-align: center;"><a href="/calendar/event" style="color: white;"><button class="btn btn-primary btn-sm">Create a new calendar event</button></a> </div>
        </div>
</div>
<% } %>


<% include partials/footer %>