<% include partials/header %>

<div class="container shadow bg-white rounded" style="margin-top: 1%; padding: 1%;">
    <h1 style="text-align: center; margin-bottom: 1%;">Operations Center</h1>
    <hr>
    <div class="card-deck">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>Request a Discharge</strong></h5>
                <p class="card-text">Request a discharge to leave from the unit.</p>
                <a href="/opcenter/discharge" class="btn btn-primary">Request a Discharge</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">This action can be seen by enlisted and above.</small>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>Request a Leave of Absence</strong></h5>
                <p class="card-text">Request a Leave of Absence from the unit.</p>
                <a href="/opcenter/loa" class="btn btn-primary">Request a Leave of Absence</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">This action can be seen by enlisted and above.</small>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>View Your Requests</strong></h5>
                <p class="card-text">View all of your requests.</p>
                <a href="/opcenter/yourrequests" class="btn btn-primary">View Requests</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">This action can be seen only by you.</small>
            </div>
        </div>
    </div>
</div>

<% if(currentUser.role) { %>
<div class="container shadow bg-white rounded" style="margin-top: 1%; padding: 1%;">



    <h1 style="text-align: center; margin-bottom: 1%;">Administration Center</h1>
    <hr>
    <br>
    <div class="card-deck">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>View Requests <span class="badge badge-secondary"><%=count%></span></strong></h5>
                <p class="card-text">View new and old user requests.</p>
                <a href="/opcenter/requests" class="btn btn-primary">View Requests</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">This action can be seen only by staff.</small>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>Create Events</strong></h5>
                <p class="card-text">Create a new event.</p>
                <a href="/calendar/event" class="btn btn-primary">Create Event</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">This action can be seen only by staff.</small>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>View Events</strong></h5>
                <p class="card-text">View all events.</p>
                <a href="/calendar/events" class="btn btn-primary">View Events</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">This action can be seen only by staff.</small>
            </div>
        </div>
    </div>
    </div>
<% } %>


<% include partials/footer %>