@media (prefers-color-scheme: dark) {
    body.themed .navbar-custom a{
        color: rgba(255,255,255,.5);
    }

    body.themed .navbar-custom a:hover{
        color: rgba(255,255,255,.7);
    }

    body.themed .navbar-custom a.navbar-brand {
        color: rgba(255,255,255,1)
    }

    body.themed .list-group-item {
        color: rgba(255,255,255,.7);
        background-color: rgba(255,255,255,.07);
    }

    body.themed .list-group-item.active {
        color: white;
        border-color: rgba(255,255,255,.16);
    }

    body.themed {
        background-color: rgba(18,18,18, 1);
        position: relative;
        color: #fff;
    }

    body.themed div.container {
        background-color: rgba(255,255,255,.05);
    !important;
    }

    body.themed nav {
        background-color: rgba(255,255,255,.03);
    }

    body.themed nav a {
        color: white;
    }

    body.themed nav li {
        color: white;
    }

    body.themed .card {
        border-color: rgba(255,255,255,0.16);
        background-color: rgba(255,255,255,0.07);
    }

    body.themed .card-header {
        border-color: rgba(255,255,255,0.16);
    }

    body.themed .card-footer {
        border-color: rgba(255,255,255,0.16);
        background-color: rgba(255,255,255,0.08);
        color: rgba(255,255,255,0.5);
    }

    body.themed hr {
        border-color: rgba(255,255,255,.16);
    }

    body.themed .table-bordered th {
        background-color: rgba(255,255,255,.09);
    }

    body.themed th, body.themed td {
        border-color: rgba(255,255,255,.16);
    }

    body.themed .form-control {
        border-color: rgba(255,255,255,.16);
        background-color: rgba(255,255,255,.07);
        color: #FFF;
    }

    body.themed .form-control:disabled {
        background-color: rgba(255,255,255,.2);
        color: rgba(255,255,255,.36);
    }

    body.themed option {
        background-color: rgba(0,0,0,.8);
        border-color: rgba(0,0,0,.7);
    }

    body.themed select {
        background-color: rgba(255,255,255,.07);
        border-color: rgba(0,0,0,.7);
    }

    body.themed .alert-info {
        background-color: rgba(255,255,255,.07);
    }

    body.themed .custom-control-label::before {
        background-color: rgba(255,255,255,.07);
        border-color: rgba(255,255,255,.16);
    }

    body.themed .custom-control-label:after.lever {
        background-color: rgba(255,255,255,.07);
        border-color: rgba(255,255,255,.16);
    }

    body.themed .input-group-text {
        background-color: rgba(255,255,255,.03);
        border-color: rgba(255,255,255,.16);
    }

    body.themed .muted-text {
        color: rgba(255,255,255,.36);
    !important;
    }

    body.themed .fc th {
        border-style: solid;
        border-width: 1px;
        padding: 0;
        vertical-align: top;
        color: #FFF; !important;
    }

    body.themed .fc td {
        border-style: solid;
        border-width: 1px;
        padding: 0;
        vertical-align: top;
        color: #FFF; !important;
    }

    body.themed .fc {
        color: #FFF;
    }

    body.themed .modal-header {
        background-color: rgba(255,255,255,.09);
        border-color: rgba(255,255,255,.16);
    }

    body.themed .modal-body {
        background-color: rgba(255,255,255,.09);
        border-color: rgba(255,255,255,.16);
    }

    body.themed .modal-footer {
        background-color: rgba(255,255,255,.09);
        border-color: rgba(255,255,255,.16);
    }

    body.themed .modal-span {
        color: white;
    }

    body.themed .modal-content {
        background-color: rgb(0,0,0);
    }
}