<% include partials/header %>

<div class="container shadow bg-white marginPad">
    <form action="/opcenter/discharge/" method="POST">

        <h1>Request a Discharge</h1>
        <hr>
        
        <label for="reason">Reason</label>
        <div class="form-group"><input class="form-control" id="reason" type="text" name="reason" placeholder="enter a reason" required>
            <small class="form-text text-muted">The max length of a reason is 160 characters. If you have more thoughts to express, contact a high ranking member.</small>
        </div>           
        <div class="form-group"><input class="form-control" type="hidden" name="id" value="<%=user._id%>"></div>               
        
        <div class="form-group"><button class="btn btn-primary" >Submit</button></div>
    </form>   
</div>


<script>
 document.getElementById("reason").maxLength = "160";
</script>

<% include partials/footer %>