<% include ../partials/header %>

<div class="container shadow mt-3 p-3 white">
    <form action="/opcenter/loa/" method="POST">

        <h1>Request a Leave of Absence</h1>
        <hr>

        <label for="reason">Reason</label>
        <div class="form-group">
			<textarea class="form-control" id="reason" name="reason" placeholder="enter a reason" maxLength = "500" required></textarea>
            <small class="form-text text-muted">The max length of a reason is 500 characters. If you have more thoughts to express, please contact your respective leadership.</small>
        </div>

        <div class="form-group">
            <label for="start">Beginning of Leave Date</label>
            <input class="form-control" id="start" type="date" name="begindate" required>
        </div>

        <div class="form-group">
            <label for="start">End of Leave Date</label>
            <input class="form-control" id="start" type="date" name="enddate" required>
        </div>

        <div class="form-group">
			<input class="form-control" type="hidden" name="id" value="<%=user._id%>">
		</div>

        <div class="form-group">
			<button class="btn btn-primary" >Submit</button>
		</div>
    </form>
</div>

<div class="fixed-bottom">
<% include ../partials/footer %>